<phpunit bootstrap="../../core/tests/bootstrap.php"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		processIsolation="false"
		stopOnFailure="false"
		syntaxCheck="true"
		strict="true"
		verbose="true"
		 >
	<testsuites>
		<testsuite name="Contacts App">
			<directory suffix=".php">tests</directory>
			<exclude>tests/data</exclude>
		</testsuite>
	</testsuites>
</phpunit>
